<index:>
    <div class="container">
        <h2>Usuario agregados hasta el momento</h2>
        <hr>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Check</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {{each usersList as #user}}
                    {{ if #user.id }}
                        <tr>
                            <td scope="row">{{#user.name}}</td>
                            <td>{{#user.age}}</td>
                            <td>{{#user.email}}</td>
                            <td>{{#user.check}}</td>
                            <td>
                                <button class="btn btn-outline-danger" on-click="del(#user.id)">borrar</button>
                                <a class="btn btn-outline-warning" href="/edit/{{#user.id}}">Edit</a>
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>